@font-face {
    font-family: "Mohave";
    src: url("assets/fonts/mohave-v6-latin-700.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Mohave";
    src: url("assets/fonts/mohave-v6-latin-regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
}

.cards-section {
    display: grid;
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(4, 10rem);
    perspective: 800px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
    padding: 10px;
    margin-top: 30px;
}

.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: rotateY(0deg);
    width: 150px;
    height: 150px;
}

.face, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background: url("assets/img/cover.png") no-repeat;
    background-size: cover;
    backface-visibility: hidden;
}

.toggle-card {
    transform: rotateY(180deg);
}

.face {
    transform: scale(0.5);
    transition: transform 1s ease;
}

.toggle-card .face {
    transform: scale(1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.year {
    font-family: 'Mohave', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
}

.github {
    margin-left: auto;
    height: 50px;
    width: 50px;
    background: url("assets/img/logo-github.png") no-repeat center;
}

.rs {
    height: 50px;
    width: 150px;
    background: url("assets/img/rs_school_js.svg") no-repeat center;
}

.rs-link, .github-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    outline: none;
}

.win-message {
    text-align: center;
    font-size: 42px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#dd1111, #ffffff);
    position: absolute;
    line-height: 1.6;
    outline: none;
    font-family: 'Mohave', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.close-message {
    background: url("assets/img/close.png") center;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
}

.close-message:hover {
    transform: skew(-10deg);
}

.button {
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    margin: 30px;
    font-family: 'Mohave', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: none;
}

.scores {

    background-color: #d91d1d;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px;
}

.list {
    padding: 20px 50px;
}

.score-item {
    font-family: 'Mohave', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}